@import 'bootstrap/dist/css/bootstrap.css';

section {
  margin: 75px;
}
span:hover {
  cursor: pointer;
}
.card-container {
  width: '100%';
  margin: 0 auto;
}
.header {
  margin-bottom: 50px;
  text-align: center;
}
